@import url('https://fonts.cdnfonts.com/css/dinpro-medium');

html, body {
	margin:				auto;
	background-color:	#fff;
	color:				#db1a1a; 
    font-family:        'DINPro-Medium', sans-serif;
    font-style:         normal;
    font-weight:        500;
    font-size:          1vw;
    text-align: center;
	
}

div, span, select, input, form, option {
    font-family:        'DINPro-Medium', sans-serif;
    font-style:         normal;
    font-weight:        500; 
    font-size:          1vw;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


table#tabla_butacas{
    border-top-width: 10px; 
    border-right-width: 0px; 
    border-bottom-width: 10px; 
    border-left-width: 0px; 
    width: 90%; 
}

table#tabla_butacas td {
    text-align: center;
    padding: 15px;       
}

.butaca_libre{
    color: black;
    background-color: #00ff00;
}

.butaca_ocupada{
    color: white;
    background-color: #ff0000;
}


table#tabla_entradas{
    border-top-width: 10px; 
    border-right-width: 0px; 
    border-bottom-width: 10px; 
    border-left-width: 0px; 
    width: 90%; 
}

table#tabla_entradas td {
    text-align: center;
    padding: 15px;       
}


button {
    background-color: rgb(185, 45, 45);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;


}


button:hover {
    background-color: #e2331c;
}
