@import url('https://fonts.cdnfonts.com/css/dinpro-medium');

html, body {
	margin:				auto;
	background-color:	#fff;
	color:				#337ab7; 
    font-family:        'DINPro-Medium', sans-serif;
    font-style:         normal;
    font-weight:        500;
    font-size:          1vw;
	
}

div, span, select, input, form, option {
    font-family:        'DINPro-Medium', sans-serif;
    font-style:         normal;
    font-weight:        500; 
    font-size:          1vw;
}


table#tabla_butacas{
    border-style: solid; 
    border-top-width: 2px; 
    border-right-width: 2px; 
    border-bottom-width: 2px; 
    border-left-width: 2px
}

table#log thead tr th{
    background: #154991;
    color: white;
    padding: 5px;
}
table#log thead tr th:first-child { border-top-left-radius: 10px; }
table#log thead tr th:last-child { border-top-right-radius: 10px; }

table#log tbody tr td{
    border-bottom: 1px solid #154991;
    padding: 10px;
}
table#log tfoot tr th{
    text-align: right;
}
table#log tr:nth-child(even) {background-color: #e6e6e6;}